# CAP demoApp
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
.env
*-private.http

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
_archive
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
